# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp gohci.service /etc/systemd/system
#   systemctl daemon-reload
#   systemctl enable gohci.service
#   systemctl start gohci.service
#
# To view logs:
#   journalctl -f -u gohci.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.kill.html
# - https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Go on Hardware CI
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
KillMode=mixed
Restart=always
TimeoutStopSec=20s
ExecStart=/home/pi/bin/go/gohci
WorkingDirectory=/home/pi/gohci

# To use port 80:
#  # Systemd 229:
#  #AmbientCapabilities=CAP_NET_BIND_SERVICE
#  # Systemd 228 and below:
#  SecureBits=keep-caps
#  Capabilities=cap_net_bind_service+pie

# Set this if you run a custom Go version that is not installed in
# /usr/local/go:
# Environment=PATH=/home/pi/golang/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin GOROOT=/home/pi/golang GOPATH=/home/pi/go

[Install]
WantedBy=multi-user.target
