# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp gohci_update.service /etc/systemd/system
#   systemctl daemon-reload
#
# To run immediately, run as root:
#   systemctl start gohci_update.timer
#
# To view logs:
#   journalctl -f -u gohci_update.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Updates gohci, as triggered by gohci_update.timer
After=network-online.target

[Service]
Type=oneshot
# Change 'pi' everywhere in this file with the actual user account.
User=pi
Group=pi
NoNewPrivileges=true
# /bin/sh is necessary to load .profile to set $GOPATH:
ExecStart=/bin/sh -l -c "go get -v -u github.com/maruel/gohci"

# Choose one of the following. GOPATH won't be necessary with Go 1.8+:
# - Normal installation of a recent Go version in /usr/local/go:
Environment=PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin GOPATH=/home/pi/go
# - Local compilation (e.g. trying a beta):
# Environment=PATH=/home/pi/golang/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin GOROOT=/home/pi/golang GOPATH=/home/pi/go
# - Using the Go debian package.
# Environment=GOPATH=/home/pi/go
