# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp gohci_update.service /etc/systemd/system
#   systemctl daemon-reload
#   systemctl enable gohci_update.timer
#   systemctl start gohci_update.timer

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.timer.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Runs "go get -u github.com/periph/gohci" as a cron job

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
RandomizedDelaySec=5

[Install]
WantedBy=timers.target
