# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp gohci.service /etc/systemd/system
#   systemctl daemon-reload
#   systemctl enable gohci.service
#   systemctl start gohci.service
#
# To view logs:
#   journalctl -f -u gohci.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.kill.html
# - https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Go on Hardware CI
Wants=network-online.target
After=network-online.target

[Service]
# Change 'pi' everywhere in this file with the actual user account.
User=pi
Group=pi
KillMode=mixed
Restart=always
TimeoutStopSec=20s
ExecStart=/home/pi/go/bin/gohci
WorkingDirectory=/home/pi/gohci

# To use port 80:
#  # Systemd 229:
#  #AmbientCapabilities=CAP_NET_BIND_SERVICE
#  # Systemd 228 and below:
#  SecureBits=keep-caps
#  Capabilities=cap_net_bind_service+pie

# Choose one of the following. GOPATH won't be necessary with Go 1.8+:
# - Normal installation of a recent Go version in /usr/local/go:
Environment=PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin GOPATH=/home/pi/go
# - Local compilation (e.g. trying a beta):
# Environment=PATH=/home/pi/golang/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin GOROOT=/home/pi/golang GOPATH=/home/pi/go
# - Using the Go debian package.
# Environment=GOPATH=/home/pi/go

[Install]
WantedBy=default.target
