# Copyright 2016 Marc-Antoine Ruel. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# To install, run as root:
#   cp sci.service /etc/systemd/system
#   systemctl daemon-reload
#   systemctl enable sci.service
#   systemctl start sci.service
#
# To view logs:
#   journalctl -f -u sci.service

# All the flags in the following help pages apply:
# - https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# - https://www.freedesktop.org/software/systemd/man/systemd.kill.html
# - https://www.freedesktop.org/software/systemd/man/systemd.service.html
# - https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Stupid CI
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
KillMode=mixed
Restart=always
TimeoutStopSec=20s
ExecStart=/home/pi/bin/sci
WorkingDirectory=/home/pi/sci
# Set this if you run a custom Go version that is not installed in
# /usr/local/go.
# Environment=PATH=/home/pi/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin GOROOT=/home/pi/go

[Install]
WantedBy=multi-user.target
