<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>gohci</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/gohci/go/bin/gohci</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/gohci/gohci</string>
    <key>StandardOutPath</key>
    <string>stdout.log</string>
    <key>StandardErrorPath</key>
    <string>stderr.log</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnableTransactions</key>
    <false/>
  </dict>
</plist>
